In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('zillow_city_month.csv')

In [3]:
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31
0,102001,0,United States,country,NaN,127845.0,128190.0,128554.0,129295.0,130042.0,...,337752.0,343294.0,348315.0,352484.0,354884.0,355924.0,356279.0,356785.0,357296.0,357319.0
1,394913,1,"New York, NY",msa,NY,222885.0,224217.0,225415.0,227774.0,229970.0,...,587159.0,594234.0,601691.0,607653.0,611940.0,614208.0,615185.0,615662.0,616681.0,617849.0
2,753899,2,"Los Angeles, CA",msa,CA,230273.0,231075.0,232303.0,234638.0,237142.0,...,904811.0,923996.0,940540.0,941881.0,938738.0,924623.0,914991.0,905397.0,900776.0,897894.0
3,394463,3,"Chicago, IL",msa,IL,167528.0,167923.0,168434.0,169458.0,170543.0,...,295653.0,299069.0,302975.0,305916.0,307737.0,308055.0,308352.0,308969.0,309456.0,308959.0
4,394514,4,"Dallas, TX",msa,TX,128766.0,128869.0,128955.0,129164.0,129383.0,...,363776.0,373139.0,381724.0,389176.0,391350.0,390417.0,388728.0,388858.0,388704.0,386853.0

In [4]:
df[df.StateName=='CO']

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31
19,394530,19,"Denver, CO",msa,CO,194222.0,195539.0,196680.0,199221.0,201606.0,...,614857.0,627028.0,635788.0,637068.0,632910.0,626465.0,623014.0,621866.0,621027.0,618385.0
79,394484,79,"Colorado Springs, CO",msa,CO,162876.0,163217.0,163471.0,164080.0,164680.0,...,474055.0,481485.0,488121.0,492642.0,491329.0,487660.0,483047.0,480194.0,478445.0,475835.0
149,394602,150,"Fort Collins, CO",msa,CO,192720.0,192445.0,193283.0,194544.0,196520.0,...,546250.0,556310.0,566716.0,572977.0,573046.0,568611.0,566361.0,565743.0,567231.0,566198.0
153,394645,154,"Greeley, CO",msa,CO,197309.0,197723.0,196821.0,196249.0,195882.0,...,509725.0,522954.0,529952.0,533662.0,533036.0,532039.0,530916.0,530442.0,528175.0,526937.0
155,394405,156,"Boulder, CO",msa,CO,235101.0,236355.0,237830.0,240794.0,243751.0,...,757088.0,773449.0,789906.0,791816.0,784633.0,773874.0,766207.0,767940.0,766007.0,764435.0
256,395007,257,"Pueblo, CO",msa,CO,111896.0,112029.0,112235.0,112701.0,113285.0,...,302725.0,307491.0,311261.0,313608.0,314371.0,315652.0,315874.0,314024.0,311665.0,309435.0
272,394639,273,"Grand Junction, CO",msa,CO,144021.0,144111.0,142194.0,141225.0,140393.0,...,376649.0,382691.0,388368.0,391794.0,393272.0,393424.0,392829.0,392705.0,393980.0,393863.0
449,753881,450,"Glenwood Springs, CO",msa,CO,229799.0,230767.0,231822.0,233791.0,235651.0,...,762542.0,769518.0,779118.0,793975.0,806476.0,814578.0,813440.0,813447.0,809790.0,808844.0
542,394547,548,"Durango, CO",msa,CO,NaN,NaN,NaN,NaN,NaN,...,622796.0,637301.0,651284.0,662771.0,671587.0,676279.0,674975.0,673474.0,672301.0,672861.0
557,394556,563,"Edwards, CO",msa,CO,353379.0,354393.0,355919.0,358707.0,361691.0,...,1123954.0,1160479.0,1183806.0,1210166.0,1238081.0,1254337.0,1266363.0,1273432.0,1286387.0,1280089.0
605,394876,612,"Montrose, CO",msa,CO,127540.0,127927.0,128312.0,129006.0,129833.0,...,392763.0,395596.0,398996.0,403492.0,407594.0,413091.0,420750.0,425967.0,426252.0,424547.0
610,394437,617,"Ca-Â¦on City, CO",msa,CO,NaN,NaN,NaN,NaN,NaN,...,315233.0,320222.0,323177.0,328071.0,329856.0,332848.0,334741.0,338081.0,340766.0,337650.0
786,753871,802,"Breckenridge, CO",msa,CO,NaN,NaN,NaN,NaN,NaN,...,1000127.0,1026099.0,1052182.0,1064727.0,1057924.0,1041630.0,1026291.0,1026192.0,1030016.0,1036502.0
796,394606,816,"Fort Morgan, CO",msa,CO,NaN,NaN,NaN,NaN,NaN,...,321030.0,322656.0,325280.0,330638.0,336259.0,341862.0,344193.0,346444.0,340108.0,332815.0
824,753921,848,"Steamboat Springs, CO",msa,CO,237952.0,238771.0,239875.0,242367.0,245090.0,...,907698.0,914888.0,937032.0,946350.0,964594.0,975806.0,976204.0,969591.0,966575.0,968557.0
853,395130,879,"Sterling, CO",msa,CO,99059.0,99143.0,99303.0,99797.0,100565.0,...,254067.0,254854.0,256226.0,260188.0,264213.0,268416.0,270210.0,272205.0,267688.0,262323.0
890,753874,925,"Craig, CO",msa,CO,101674.0,102043.0,102669.0,103412.0,104179.0,...,271945.0,272106.0,273108.0,277250.0,281998.0,287093.0,289368.0,291121.0,285704.0,279206.0

In [5]:
inv = pd.read_csv('inventory.csv')

In [6]:
inv.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,...,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31
0,102001,0,United States,country,NaN,1424088.0,1502792.0,1594973.0,1663123.0,1711609.0,...,714095.0,760054.0,844209.0,929442.0,1014771.0,1072946.0,1082739.0,1067577.0,1016804.0,941320.0
1,394913,1,"New York, NY",msa,NY,73707.0,80345.0,85864.0,90067.0,91881.0,...,44229.0,47110.0,51198.0,54293.0,56794.0,57028.0,56203.0,54573.0,52209.0,47564.0
2,753899,2,"Los Angeles, CA",msa,CA,21998.0,23784.0,25605.0,27109.0,28811.0,...,14151.0,15425.0,16951.0,18425.0,20182.0,21357.0,21499.0,20945.0,19713.0,17892.0
3,394463,3,"Chicago, IL",msa,IL,38581.0,42253.0,45757.0,47492.0,48984.0,...,22560.0,23993.0,26443.0,28448.0,30255.0,31135.0,30782.0,29809.0,27762.0,24717.0
4,394514,4,"Dallas, TX",msa,TX,24043.0,25876.0,28225.0,30490.0,32408.0,...,14831.0,14963.0,16054.0,17750.0,20382.0,22258.0,22761.0,22348.0,21408.0,19865.0